<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="index.js"> </script>

  <title>Om Learning</title>
</head>

<body>
  <div class="bg-img">
  
  
      <div class="navbar">

        <a img src="logo.png" alt="" class="logo1"></a>
          
        <marquee behavior="alternate" id="logo"> Om's Learning</marquee>

        <div class="navbar-right">
          <li><a class="active" href="#Home"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>

          <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Power BI </a>

            <div class="sub-menu">
              <ul>
                <li><a href="#">video</a></li>
                <li><a href="#">images</a></li>
                <li><a href="#">curculum</a></li>
              </ul>
            </div>


          </li>

          <li><a href="#azure"><i class="fa fa-windows" aria-hidden="true"></i>Azure</a>

            <div class="sub-menu">
              <ul>
                <li><a href="#">classes</a></li>
                <li><a href="#">images</a></li>
                <li><a href="#">curculum</a></li>
              </ul>
            </div>
          </li>

          <li><a href="#contact"><i class="fa fa-mobile" aria-hidden="true"></i>Contact</a> </li>
        </div>
      </div>
    
  </div>

  <div class="container1" id="box-1">

    <h4 id="h2">What is Power BI ?</h4>
    <p id="para1">Power BI is a business analytics service by Microsoft. It aims to provide interactive visualizations
      and business intelligence capabilities with an interface simple enough for end users to create their own reports
      and dashboards. </p>
    <p id="para1">Power BI provides cloud-based BI (business intelligence) services, known as "Power BI Services", along
      with a desktop based interface, called "Power BI Desktop". It offers data warehouse capabilities including data
      preparation, data discovery and interactive dashboards. In March 2016, Microsoft released an additional service
      called Power BI Embedded on its Azure cloud platform. One main differentiator of the product is the ability to
      load custom visualizations. </p>
    <h4 id="h2"> Introduction</h4>

    <p id="para1">Power BI Desktop : Devlopment
      Power BI Services : Cloud platform to publish your report so that it can be accessed from anywhere (over the
      internet) Collaboration (publishing , sharing report) Limited devlopment.
      Gatways.
      Mobile App.
      Report Server.<a href="#powerbi.html">Read More..</a>
    </p>
  </div>

  <!--iframe   ...........................-->
  <div class="image-frame" id="img-1">
    <img src="https://source.unsplash.com/1400x500/?business" alt="Image Loding errror">
  </div>







  <div class="container2" id="box-2">

    <h3 id="h1">Power BI Course Content</h3>
    <h4 id="h2">Power BI Desktop Tutorial</h4>
    <ul id="para1">
      <li type="disc">Download and install BI Desktop
      </li>
      <li type="disc">Add, Rename, Duplicate, and Delete Pages
      </li>
      <li type="disc">Connect to SQL Server
      </li>
      <li type="disc">Connect to multiple Excel sheets
      </li>
      <li type="disc">Get data from Excel File
      </li>
      <li type="disc">Get data from Text File
      </li>
      <li type="disc">Load data from multiple data sources
      </li>
      <li type="disc">Remove Unwanted Colums from Tables
      </li>

    </ul>


    <h4 id="h2">Power BI Transformation</h4>
    <ul id="para1">
      <li type="disc">Bins
      </li>
      <li type="disc">Change the data type of a column
      </li>
      <li type="disc">Combine multiple Tables
      </li>
      <li type="disc"> Clusters
      </li>
      <li type="disc">Enter data or copy & Paste data from clipboard
      </li>
      <li type="disc">Formate Dates
      </li>
      <li type="disc">Groups
      </li>
      <li type="disc">Hierarchies
      </li>
      <li type="disc">Joins
      </li>
      <li type="disc">Pivot Table
      </li>
      <li type="disc">Query Groups
      </li>
      <li type="disc"> Recorder or Remove Columns
      </li>
      <li type="disc">Rename Column Names
      </li>
      <li type="disc">Rename Table names
      </li>
      <li type="disc">Split Columns
      </li>
      <li type="disc">Unpivot Table
      </li>

    </ul>

  </div>



  <!--iframe   ...........................-->
  <div class="image-frame" id="img-2">
    <img src="https://source.unsplash.com/1400x500/?computer" alt="mage Loding errror">
  </div>

  <div class="container3" id="box-3">

    <h4>What is Power BI ?</h4>
    <p id="para1">Power BI is a business analytics service by Microsoft. It aims to provide interactive visualizations
      and business intelligence capabilities with an interface simple enough for end users to create their own reports
      and dashboards. </p>
    <p id="para1">Power BI provides cloud-based BI (business intelligence) services, known as "Power BI Services", along
      with a desktop based interface, called "Power BI Desktop". It offers data warehouse capabilities including data
      preparation, data discovery and interactive dashboards. In March 2016, Microsoft released an additional service
      called Power BI Embedded on its Azure cloud platform. One main differentiator of the product is the ability to
      load custom visualizations. </p>
    <h3>Introduction</h3>

    <p id="para1">Power BI Desktop : Devlopment
      Power BI Services : Cloud platform to publish your report so that it can be accessed from anywhere (over the
      internet) Collaboration (publishing , sharing report) Limited devlopment.
      Gatways.
      Mobile App.
      Report
    </p>
  </div>

  <div class="image-frame" >
    <img src="https://source.unsplash.com/1400x500/?computer" alt="mage Loding errror" alt="">
  </div>


  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ads-1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3018666461431924"
     data-ad-slot="6870029409"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 
 <section class="section-1" id="box-4">
   <div>
     <p id="para1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quae sequi distinctio laudantium ipsum explicabo facere error? Sapiente molestias repellat laboriosam provident ducimus suscipit, omnis consequuntur pariatur ea enim aperiam.</p><br>
     <p id="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, id! Necessitatibus ratione obcaecati architecto adipisci voluptas neque voluptatem, deleniti atque fugit, qui dolores, dolorem porro. Laboriosam non tempore sequi quaerat!</p>
   </div>
 </section>
  <!--Banner   ...........................-->


  <footer>
    <div class="footer-icon">
      
      <div class="footer-logo">
        <ul>

          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>

        </ul>
      </div>
      <div class="footer-bottom">
        <span>contact|9754799646<br>
          Email|vivekrajput1924345@gmail.com
        </span>
        <marquee behavior="alternate" id="scroll-text">
Om's learnig is a best platform for online classes</marquee>

      </div>
    </div>
  </footer>





  <script type="text/javascript" language="javascript">
    var aax_size = '728x90';
    var aax_pubname = 'vivek9754-21';
    var aax_src = '302';
  </script>



  <!--Banner   ...........................-->




</body>

</html>